.movies-card__item {
  margin: 0 70px;
  padding: 0;
  padding-top: 10px;
  list-style: none;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 28px;
}
.movies-card__foundError {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-family: 'inter';
  font-weight: 400;
  line-height: 20px;
}
.movies-card__text {
  margin: 10px 70px;
  font-family: 'inter';
  font-size: 15px;
  font-weight: 500;
}

.movies-card__button-container {
  max-width: 100%;
  margin: 0 70px;
  padding: 45px 0 49px;
}

.movies-card__button {
  width: 100%;
  padding: 10px 0 9px 0;
  outline: none;
  border: 1px solid #f9f9f9;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  transition: opacity .2s linear;
  font-family: 'inter';
}

.movies-card__button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .movies-card__item {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1010px) {
  .movies-card__item {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 20px;
  }
}

@media screen and (max-width: 845px) {
  .movies-card__button-container {
    margin: 0 30px;
  }

  .movies-card__item {
    margin: 0 30px;
  }

  .movies-card__text {
    margin: 10px 30px;
  }
} 

@media screen and (max-width: 767px) {
  .movies-card__item {
    padding: 0;
    margin: 0 10px;
    padding-top: 50px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    row-gap: 22px;
  }

}
