.show-but {
  box-sizing: border-box;
  padding: 50px 70px 80px 70px;
  margin: 0 auto;
}

.show-but__but {
  width: 100%;
  min-height: 36px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.show-but__but:hover {
  opacity: .7;
}

@media screen and (max-width: 1010px) {
  .show-but {
    padding: 50px 30px 112px 30px;
  }
}

@media screen and (max-width: 767px) {
  .show-but {
    padding: 50px 10px 135px 10px;
  }
}